<!doctype html>
<html itemscope itemtype="//schema.org/WebPage">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="A Slack community of bot makers and bot enthusiasts." />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Botmakers.org</title>
  <meta property="og:title" content="Botmakers.org" />
  <meta property="og:description" content="A Slack community of bot makers and bot enthusiasts." />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://botmakers.org" />
  <meta property="og:image" content="https://botmakers.org/images/botmakers-preview.png" /> 
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@fourtonfish">
  <meta name="twitter:title" content="Botmakers.org">
  <meta name="twitter:description" content="A Slack community of bot makers and bot enthusiasts.">
  <meta name="twitter:image:src" content="https://botmakers.org/images/botmakers-preview.png">
  <meta name="twitter:domain" content="https://botmakers.org">
  <!--[if lt IE 9]>
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->  
  <link rel="stylesheet" href="css/styles.min.css">
  <meta name="msapplication-TileColor" content="#FFFFFF">
  <meta name="msapplication-TileImage" content="images/favicon-144.png">
  <link rel="shortcut icon" href="images/favicon.ico"/>
  <link rel="apple-touch-icon" href="images/favicon-152.png">
  <link rel="apple-touch-icon-precomposed" href="images/favicon-152.png">
  <link rel="icon" href="images/favicon-32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="images/favicon-64.png">
  <style type="text/css">
    @font-face {
      font-family: 'Source Serif Pro';
      font-style: normal;
      font-weight: 400;
      src: local('Source Serif Pro'), local('SourceSerifPro-Regular'), url(//fonts.gstatic.com/s/sourceserifpro/v4/CeUM4np2c42DV49nanp55fETq2ZMMnErnN6OL83eMrU.woff2) format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
    }
    @font-face {
      font-family: 'Merriweather Sans';
      font-style: normal;
      font-weight: 400;
      src: local('Merriweather Sans Regular'), local('MerriweatherSans-Regular'), url(//fonts.gstatic.com/s/merriweathersans/v5/AKu1CjQ4qnV8MUltkAX3sMZ4HySTEWshgORbPp2tk8k.woff2) format('woff2');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
    }
  </style>
</head>
<body>
<script>
  var node = document.createElement('style');
  node.innerHTML = '.shifted{-webkit-transition:all 1s;transition:all 1s;-webkit-transform:translate(0,20px);-ms-transform:translate(0,20px);transform:translate(0,20px);opacity:0}';
  document.body.appendChild(node);
</script>

  <!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="//browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <section id="content">
    {{{body}}}
  </section>
  <script defer src="js/scripts.min.js"></script>
  <script type="text/javascript">var sc_project=10620373;var sc_invisible=1;var sc_security="d1d16207";var scJsHost = (("https:" == document.location.protocol) ? "https://secure." : "http://www."); document.write("<sc"+"ript type='text/javascript' src='" + scJsHost+ "statcounter.com/counter/counter.js'></"+"script>");</script><noscript><div class="statcounter"><a title="website statistics" href="http://statcounter.com/" target="_blank"><img class="statcounter" src="http://c.statcounter.com/10620373/0/d1d16207/1/" alt="website statistics"></a></div></noscript></body>
</html>