<!doctype html>
<html itemscope itemtype="//schema.org/WebPage">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="Professional and hobby developers, artists, journalists, and bot fans who make and share friendly, useful, and artistic online bots." />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>A friendly Slack community of bot makers and bot enthusiasts.</title>
  <meta property="og:title" content="A friendly Slack community of bot makers and bot enthusiasts." />
  <meta property="og:description" content="Professional and hobby developers, artists, journalists, and bot fans who make and share friendly, useful, and artistic online bots." />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://botmakers.org" />
  <meta property="og:image" content="https://botmakers.org/images/hashtag-botmakers.png" /> 
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@fourtonfish">
  <meta name="twitter:title" content="A friendly Slack community of bot makers and bot enthusiasts.">
  <meta name="twitter:description" content="Professional and hobby developers, artists, journalists, and bot fans who make and share friendly, useful, and artistic online bots.">
  <meta name="twitter:image:src" content="https://botmakers.org/images/hashtag-botmakers.png">
  <meta name="twitter:domain" content="https://botmakers.org">
  <!--[if lt IE 9]>
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->  
  <link rel="stylesheet" href="css/styles.1.8.min.css">
  <meta name="msapplication-TileColor" content="#FFFFFF">
  <meta name="msapplication-TileImage" content="images/favicon-144.png">
  <link rel="shortcut icon" href="images/favicon.ico"/>
  <link rel="apple-touch-icon" href="images/favicon-152.png">
  <link rel="apple-touch-icon-precomposed" href="images/favicon-152.png">
  <link rel="icon" href="images/favicon-32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="images/favicon-64.png">
  <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro|Merriweather Sans" rel="stylesheet" type="text/css">
</head>
<body>
<script>
  var node = document.createElement('style');
  node.innerHTML = '.shifted{-webkit-transition:all 1s;transition:all 1s;-webkit-transform:translate(0,10px);-ms-transform:translate(0,10px);transform:translate(0,10px);opacity:0}';
  document.body.appendChild(node);
</script>
  <!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="//browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <section id="content">
    {{{body}}}
  </section>
  <script defer src="js/scripts.1.1.min.js"></script>
  {{> visitor_stats }}
  </body>
</html>