<header>
  <h1 class="shifted">Good news</h1>
  <p class="shifted center-text">You are already a member! <a href="{{slack_url}}">Click here</a> to sign in.</p>
  <p class="shifted center-text">If you need help, please contact <a href="mailto:{{contact}}">{{contact}}</a></p>
</header>
