<header>
  <h1 class="shifted">{{community_name}}</h1>
  <h2 class="shifted center-text">Code of conduct</h1>
  <p class="shifted center-text">Our Code of Conduct is at <a href="https://botwiki.org/coc">botwiki.org/coc</a>.</p>
</header>