<header>
  <h1 class="shifted">Oh no</h1>
  <p class="shifted center-text">Can you please contact <a href="mailto:{{contact}}">{{contact}}</a> and say you got this error message? Thank you!</p>
  <tt class="shifted">{{error_message}}</tt>
</header>
