<header>
  <header class="shifted">
    <h1 class="shifted">{{community_name}} <span class="emoji">🎨🤖</span></h1>
  </header>
</header>

<div class="shifted">
  <p class="text-justify">This is a place to discuss <a href="https://botwiki.org/bots/">fun and creative online bots</a> and learn how to make them. We&nbsp;help each other and treat each other with respect.</p>

  <p class="text-justify">Make sure you read our <a href="https://botwiki.org/coc/">Code of Conduct</a> first.</p>

  <form method="POST" action="/invite">
    <input type="email" name="email" placeholder="Your email, please!" required>
    <button type="submit">Join us on <img class="logo-slack" src="/images/slack_monochrome_white.svg">!</button>
  </form>

  <p class="text-justify">And if Discord is more your thing, checkout <a href="https://discord.gg/3YDSrdu6kh">The Bot Park</a>, run <a href="https://www.patreon.com/norareed">Nora Reed</a>.</p>

</div>
<div class="shifted">
  <div class="row">
    <div class="col-sm-12">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-4">
      <div class="card w-100" >
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>

    </div>
  </div>
</div>

<!--
<p class="center-text shifted">
  Already a member? <a href="https://botmakers.slack.com/messages">Sign in</a>.
  Live in/near NYC? Join our <a href="http://www.meetup.com/botmakers">meetup group</a> 😊
</p>
-->
<!--
<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Apparently botmaking attracts a lot of academics, artists, and terrifyingly creative people. WHO KNEW.</p>&mdash; emma 🦌 winston (@deer_ful) <a href="https://twitter.com/deer_ful/status/694964643710771200">February 3, 2016</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
-->