<header>
  <h1 class="shifted">Botmakers</h1>
  <p class="shifted">We are artists, journalists, educators, tinkerers, bot enthusiasts and seasoned pros who make and share friendly, useful, and artistic online bots for 
    <a href="https://botwiki.org/tag/twitterbot">Twitter</a>,
    <a href="https://botwiki.org/tag/slackbot">Slack</a>, 
    <a href="https://botwiki.org/bots/#browse-bots-by-network">and other networks</a>.
  </p>
</header>
<form class="shifted" method="POST" action="/invite">
  <input type="email" name="email" placeholder="Your email, please!" required>
  <button type="submit">Join us on <img class="logo-slack" src="/images/slack_monochrome_white.svg">!</button>
</form>
<p class="center-text shifted">
  Already a member? <a href="https://botmakers.slack.com/messages">Sign in</a>.<br/>
  Live in/near NYC? <a href="http://www.meetup.com/botmakers">Join our meetup group!</a>
</p>
<footer class="shifted">
  <p><strong>Botmakers</strong> is the official <a href="https://botwiki.org/">Botwiki</a> community, maintained by the <a href="https://github.com/botwiki">Botwiki team</a>. <strong>All members must read and follow our <a href="https://botwiki.org/coc/">Code of Conduct</a>.</strong>
  Source of this page is <a href="https://github.com/botwiki/botmakers.org">available on GitHub</a>. Any questions? Need help? Reach out to  <a href="mailto:stefan@botwiki.org?cc=v@veronicabelmont.com">the Botwiki team</a> (<a href="https://twitter.com/botwikidotorg">@botwikidotorg</a> on Twitter)! #<a class="hashtag" href="https://twitter.com/hashtag/indiebots">indiebots</a></p>
  <p>Image credits: <a href="http://subtlepatterns.com/">subtlepatterns.com</a>, <a href="http://emojione.com/">emojione.com</a>.</p>
</footer>
