<header>
  <h1 class="shifted">{{community_name}}</h1>
<!--
  <p class="shifted">We are artists, journalists, educators, tinkerers, bot enthusiasts and seasoned developers who make and share friendly, useful, and artistic online bots for 
    <a href="https://botwiki.org/tag/twitterbot">Twitter</a>,
    <a href="https://botwiki.org/tag/slackbot">Slack</a>, 
    <a href="https://botwiki.org/bots/#browse-bots-by-network">and other networks</a>.
  </p>
-->
  <div class="shifted">
    <p class="center-text">
      We are a diverse group of enthusiasts and seasoned developers who make and share <a href="https://botwiki.org/bots/">fun online bots</a>.
    </p>
    <p class="center-text">
      Come join us! 😊
    </p>
  </div>
</header>

<form class="shifted" method="POST" action="/invite">
  <input type="email" name="email" placeholder="Your email, please!" required>
  <button type="submit">Join us on <img class="logo-slack" src="/images/slack_monochrome_white.svg">!</button>
</form>

<p class="center-text shifted">
  Already a member? <a href="https://botmakers.slack.com/messages">Sign in</a>.
  Live in/near NYC? Join our <a href="http://www.meetup.com/botmakers">meetup group</a> :-)
</p>

<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Apparently botmaking attracts a lot of academics, artists, and terrifyingly creative people. WHO KNEW.</p>&mdash; emma 🦌 winston (@deer_ful) <a href="https://twitter.com/deer_ful/status/694964643710771200">February 3, 2016</a></blockquote>

<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
