<header>
  <h1 class="shifted">We are <strong><a href="https://twitter.com/search?q=%23botmakers">#{{community}}</a></strong>!</h1>

  <p class="shifted">
    We make <strong>useful, interesting, artistic and friendly</strong> online bots with</span>
    <a href="https://botwiki.org/tag/twitterbot">#twitter</a>, <a href="https://botwiki.org/tag/slackbot">#slack</a>, <a href="https://botwiki.org/tag/opensource+node.js">#node.js</a>, <a href="https://botwiki.org/tag/opensource+iot">#IoT</a> and <a href="https://botwiki.org/">more</a>.</p>
  <p>
    <span class="shifted">Come join us on Slack!</span>
  </p>
</header>
<form class="shifted" method="POST" action="/invite">
  <input type="email" name="email" placeholder="Enter your email" required>
  <button type="submit">Submit</button>
</form>
<div id="botmakers" class="shifted"></div>
<footer class="shifted">
  <ul>
    <li class="shifted"><strong>Botmakers</strong> is the official <a href="https://botwiki.org/">Botwiki.org</a> community,</li>
    <li class="shifted">maintained by the <a href="https://github.com/botwiki">Botwiki.org team</a>.</li>
    <li class="shifted">Source of this page is <a href="https://github.com/botwiki/botmakers.org">available on GitHub</a>.</li>
    <li class="shifted">Image courtesy of <a href="http://www.oldbookillustrations.com/">oldbookillustrations.com</a>.</li>
    <li class="shifted">Any questions? Need help? Reach out to <a href="https://twitter.com/fourtonfish">@fourtonfish</a> or <a href="mailto:stefan@fourtonfish.com">stefan@fourtonfish.com</a>.</li>
  </ul>
</footer>