<header>
  <h1 class="shifted">We are <strong><a href="https://twitter.com/hashtag/botmakers">#botmakers</a> and bot enthusiasts</strong>!</h1>

  <p class="shifted">
    We are professional and hobby developers, artists, journalists, educators, and bot fans who make and share friendly, useful, and artistic online bots for 
    <a href="https://botwiki.org/tag/twitterbot">Twitter</a>,
    <a href="https://botwiki.org/tag/slackbot">Slack</a>, 
    <a href="https://botwiki.org/bots/#browse-bots-by-network">and other networks</a>.
  </p>
</header>
<form class="shifted" method="POST" action="/invite">
  <input type="email" name="email" placeholder="Enter your email" required>
  <button type="submit">Join us on <img class="logo-slack" src="/images/slack_monochrome_white.svg"></button>
</form>
<p class="shifted">
  Already a member? <a href="https://botmakers.slack.com/messages">Sign in</a>.
</p>
<p class="shifted">
  Live in/near NYC? <a href="http://www.meetup.com/botmakers">Join our meetup group!</a>
</p>
<footer class="shifted">
  <p><strong>Botmakers</strong> is the official <a href="https://botwiki.org/">Botwiki</a> community, maintained by the <a href="https://github.com/botwiki">Botwiki team</a>. <strong><em>All members must read and follow our <a href="https://botwiki.org/coc/">Code of Conduct</a>.</em></strong>
  Source of this page is <a href="https://github.com/botwiki/botmakers.org">available on GitHub</a>. Any questions? Need help? Reach out to <a href="https://twitter.com/fourtonfish">@fourtonfish</a> or <a href="mailto:stefan@botwiki.org">stefan@botwiki.org</a>.</p>
</footer>