<header>
  <header class="shifted">
    <p class="shifted">
      <div class="strike">
        <span><em>Welcome to</em></span>
      </div>
    </p>
    <h1 class="shifted">{{community_name}} <span class="emoji">🎨🤖</span></h1>
  </header>
</header>

<div class="shifted">
  <p>This is a place to discuss <a href="https://botwiki.org/bots/">fun and creative online bots</a> and learn how to make them.</p>
  <p>This is not a place to promote "chat bots" or advertise your "latest product". We help each other and treat each other with respect. Make sure you read our <a href="https://botwiki.org/coc/">Code of Conduct</a> first.</p>

  <form method="POST" action="/invite">
    <input type="email" name="email" placeholder="Your email, please!" required>
    <button type="submit">Join us on <img class="logo-slack" src="/images/slack_monochrome_white.svg">!</button>
  </form>

</div>


<p class="center-text shifted">
  Already a member? <a href="https://botmakers.slack.com/messages">Sign in</a>.
  Live in/near NYC? Join our <a href="http://www.meetup.com/botmakers">meetup group</a> 😊
</p>

<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Apparently botmaking attracts a lot of academics, artists, and terrifyingly creative people. WHO KNEW.</p>&mdash; emma 🦌 winston (@deer_ful) <a href="https://twitter.com/deer_ful/status/694964643710771200">February 3, 2016</a></blockquote>

<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
