<header>
  <h1 class="shifted">Join the <strong>{{community}}</strong> community on Slack!</h1>
  <p><span class="shifted"><strong>{{community}}</strong> is a community of people who create and appreciate</span> <strong class="shifted">useful, interesting, artistic and friendly</strong> <span class="shifted"><a href="https://botwiki.org/">online bots</a>.</span></p>
</header>
<form class="shifted" method="POST" action="/invite">
  <input type="email" name="email" placeholder="Enter your email" required>
  <button type="submit">Submit</button>
</form>
<div id="botmakers" class="shifted"></div>
<footer class="shifted">
  <ul>
    <li class="shifted"><strong>Botmakers</strong> is the official <a href="https://botwiki.org/">Botwiki.org</a> community,</li>
    <li class="shifted">maintained by the <a href="https://github.com/botwiki">Botwiki.org team</a>.</li>
    <li class="shifted">Source of this page is <a href="https://github.com/botwiki/botmakers.org">available on GitHub</a>.</li>
    <li class="shifted">Image courtesy of <a href="http://www.oldbookillustrations.com/">oldbookillustrations.com</a>.</li>
    <li class="shifted">Any questions? Need help? Reach out to <a href="https://twitter.com/fourtonfish">@fourtonfish</a> or <a href="mailto:stefan@fourtonfish.com">stefan@fourtonfish.com</a>.</li>
  </ul>
</footer>