<header>
  <h1 class="shifted">Join the <strong>{{community}}</strong> community on Slack!</h1>
  <p><span class="shifted"><strong>{{community}}</strong> is a community of people who create and appreciate</span> <strong class="shifted">useful, interesting, artistic and friendly</strong> <span class="shifted"><a href="https://botwiki.org/">online bots</a>.</span></p>
</header>
<form class="shifted" method="POST" action="/invite">
  <input type="email" name="email" placeholder="Enter your email" required>
  <button type="submit">Submit</button>
</form>
<div id="botmakers" class="shifted"></div>