<header>
  <h1 class="shifted">Good news</h1>
  <p class="shifted center-text">Looks like you were already invited. Please check your inbox again.</p>
  <p class="shifted center-text">If you didn't get your invitation, please contact <a href="mailto:{{contact}}">{{contact}}</a></p>
</header>
