<header>
  <h1 class="shifted">Awesome</h1>
  <p class="shifted center-text">Please check <em>{{user_email}}</em> for an invite from Slack!</p>
  <p class="shifted center-text">If you have any questions, feel free to reach out to <a href="mailto:{{contact}}">{{contact}}</a>.</p>
  <p class="shifted center-text">Looking forward to seeing you in our community :-)</p>
</header>
