/* Variables */
/* Styles */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  font-family: "Source Serif Pro", serif;
  color: #2b0940;
  background: #9156b7;
  font-size: 1.2em;
  margin: 0;
  height: 100%;
}
body {
  position: relative;
  padding-bottom: 20em;
  min-height: 100%;
}
header,
section {
  width: 95%;
  margin: 0 auto;
}
@media (max-width: 800px) {
  header,
  section {
    width: 100%;
  }
}
header {
  text-align: center;
  margin: 1em auto;
  padding: 1rem 0 2rem;
}
header p {
  margin-bottom: 0;
}
header h1 {
  margin: 0 auto;
  font-family: "Lobster";
  font-size: 6rem;
  font-weight: normal;
}
@media (max-width: 800px) {
  header h1 {
    font-size: 4rem;
  }
}
header .emoji {
  font-size: 4rem;
  white-space: nowrap;
}
.strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  width: 80%;
  max-width: 460px;
  margin: 0 auto;
}
.strike span {
  position: relative;
  display: inline-block;
}
.strike span:before,
.strike span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: rgba(57, 46, 46, 0.5);
}
.strike span:before {
  right: 100%;
  margin-right: 15px;
}
.strike span:after {
  left: 100%;
  margin-left: 15px;
}
section {
  font-weight: bold;
  min-height: 100%;
  margin: 0 auto;
  position: relative;
}
@media (min-width: 800px) {
  section {
    padding: 0 0 10em;
  }
}
section#content {
  min-height: 100vh;
  background: url('../images/background/geometry-alt-purple-2.png');
  background-repeat: repeat;
  position: relative;
}
section#content div#content-inner {
  max-width: 900px;
  margin: 0 auto;
}
form,
p {
  padding: 0.5rem 1rem;
  margin: 0;
}
form {
  max-width: 960px;
  min-height: 3em;
  margin: 2em auto;
  content: "";
  display: block;
  clear: both;
}
input,
button {
  font-family: 'Merriweather Sans';
  margin: 0 auto;
  padding: 10px;
  font-size: 0.8em;
  cursor: pointer;
}
.btn-login {
  font-family: 'Merriweather Sans';
  font-size: 0.87em;
  position: absolute;
  z-index: 10;
  top: 10px;
  right: 10px;
  padding: 10px 20px;
  text-decoration: none;
  background-color: #2b0940;
  color: #fff;
}
.btn-login:hover {
  color: #fff;
  background-color: #3c1a51;
}
.btn-login,
.btn-login:hover {
  -webkit-transition: background-color 0.1s;
  transition: background-color 0.1s;
}
input {
  border: 5px solid #2b0940;
  float: none;
  width: 100%;
}
@media (min-width: 800px) {
  input {
    width: 70%;
    float: left;
    height: 3em;
  }
}
input:focus {
  border-color: #5e3c73;
  outline: none;
  cursor: text;
}
input,
input:focus {
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
button {
  color: #fff;
  font-weight: bold;
  background: #2b0940;
  text-align: center;
  border: 1px solid #2b0940;
  width: 100%;
  margin-top: 1em;
  border: 3px solid #4d2b62;
}
@media (min-width: 800px) {
  button {
    width: 30%;
    height: 3em;
    float: right;
    margin-top: 0em;
    border: none;
  }
}
a {
  color: #2b0940;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
a:hover {
  color: #3c1a51;
}
iframe.twitter-tweet,
blockquote.twitter-tweet,
twitterwidget {
  margin: 2em auto !important;
  max-width: 90% !important;
}
footer {
  max-width: 900px;
  font-size: 0.95em;
  font-weight: normal;
  margin: 0 auto 2em;
}
@media (min-width: 800px) {
  footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
footer a {
  font-weight: bold;
}
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 5px;
}
img.logo {
  display: block;
  margin: 0 auto -1em;
  width: 20%;
  max-width: 450px;
}
@media (max-width: 800px) {
  img.logo {
    width: 40%;
    padding-top: 4em;
  }
}
img.logo-slack {
  height: 1.1em;
  max-width: 100px;
  vertical-align: bottom;
}
@media (min-width: 800px) {
  .keep-together {
    white-space: nowrap;
  }
}
a.hashtag {
  font-style: italic;
  text-decoration: none;
}
a.hashtag:hover {
  text-decoration: underline;
}
.text-justify {
  text-align: justify;
}
.center-text {
  text-align: center;
}
/* Animations */
.unshifted {
  -webkit-transition: -webkit-transform 0.4s, opacity 1s;
  transition: transform 0.4s, opacity 1s;
}
