*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  font-family: "Source Serif Pro", serif;
  color: #525252;
  font-size: 1.2em;
  margin: 0;
  padding: 1em;
  height: 100%;
}
@media (min-width: 768px) {
  html,
  body {
    padding: 1em 0.5em;
  }
}
header,
section {
  max-width: 960px;
  margin: 0 auto;
}
header h1 {
  text-align: center;
}
header p {
  text-align: justify;
}
section {
  min-height: 100%;
  margin: 0 auto;
  padding: 10px;
}
form {
  padding: 1em 0 2em;
}
input,
button {
  font-family: 'Merriweather Sans';
  display: block;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 10px;
  font-size: 0.8em;
  padding: 20px;
  cursor: pointer;
}
input {
  border: 5px solid #525252;
}
input:focus {
  border-color: #a7a7a7;
  outline: none;
  cursor: text;
}
button {
  color: #fff;
  font-weight: bold;
  background: #525252;
  text-align: left;
  border: none;
}
h1 {
  font-size: 2em;
}
a {
  color: #3498db;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
a:hover {
  color: #56bafd;
}
div#botmakers {
  height: 180px;
  margin: 0 auto;
  background: url('/images/botmakers.png') no-repeat;
}
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 5px;
}
/* Animations */
.unshifted {
  -webkit-transition: -webkit-transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s;
}
